# NewsApp - Reviewer Access Notes
# DELETE THIS FILE after marking is complete

## Credentials needed to run the app

SECRET_KEY=0+ws&u1t+la73n!&0&osxmjr#r&kswhytoi+@5b*mprpc*w259
DEBUG=True
DB_NAME=newsapp_db
DB_USER=newsapp_user
DB_PASSWORD=newsapp_password
DB_HOST=db
DB_PORT=3306
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

## How to Run
Full instructions are in newsapp/README.md
Quick Docker start: docker-compose up --build
Visit: http://localhost:8000